*{
  margin:0;
  padding: 0;
}

.home button{
  font-size: 15px;
  font-weight: 500;
  color: #007bff;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgb(224, 216, 232);
  cursor: pointer;
}

h1 {
  font-family:  sans-serif;
  color: black;
  font-size: 15px;
  z-index: 1;
}
body{
  background: rgb(224, 236, 243);
  position:fixed;
  text-align: center;
}
