*{
  margin:0;
  padding: 0;
}
.container {
  background-image: ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


h1 {
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 15px;
  z-index: 1;
}
button{
  
  background: #white;
  position:fixed;
  width: 80px;
  height: 45px;
  line-height: 45px;
  bottom: 00%;
  border-radius: 3px;
  text-align: center;


  text-align:bottom;
  align-items: baseline;
}
