.home button{
    font-size: 15px;
    font-weight: 500;
    color: #007bff;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba(90, 88, 88, 0.253);
    cursor: pointer;
  }
  .next button{
    font-size: 20px;
    
    font-weight: 500;
    color: #151618;
    padding: 2px 20px;
    outline: none;
    border: none;
    position:fixed;
    bottom:2%;
    right: 20%;
    border-radius: 5px;
    background: rgb(168, 163, 163);

    cursor: pointer;
  }
.container {
    background-image: url("..//princ.jpg");
  
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    display: ;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  
  h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(18, 18, 18);
    font-size: 15px;
    z-index: 1;
  }
  h2{font-family: 'Pacifico', cursive;
    color: rgb(18, 18, 18);
    font-size: 15px;
    z-index: 1;
  }
  
 
  
