*{
  margin:0;
  padding: 0;
}
.container {
  background-image: url("..//princ.jpg");

  background-repeat: no-repeat;
  width: 30vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}


h1 {
  font-family: 'Pacifico', cursive;
  color: rgb(18, 18, 18);
  font-size: 15px;
  z-index: 1;
}
h2{font-family: 'Pacifico', cursive;
  color: rgb(18, 18, 18);
  font-size: 15px;
  z-index: 1;
}

button{
  
  background: #dde4e7;
  position:fixed;
  width: 50px;
  height: 30px;
  line-height: 30px;
  bottom: 2%;
  
  border-radius: 8px;
  text-align: center;
  box-shadow:4px 4px 4px  #51b9e9;
   

  text-align:bottom;
  align-items: baseline;
}