
h1 {
  font-family: 'Pacifico', cursive;
  color: rgb(41, 9, 90);
  font-size: 25px;
  z-index: 1;
}
h2{font-family: 'Pacifico', cursive;
  color: rgb(18, 18, 18);
  font-size: 15px;
  z-index: 1;
}

.home button{
    font-size: 15px;
    font-weight: 500;
    color: #007bff;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(200, 195, 195);
    cursor: pointer;
  }
  
body{
  background-color: rgb(249, 224, 211);
}
table{
  width: 100PX;
  margin: auto;
}

td{text-align: center;
  padding: 10px;
  
}
th{
  align-self: start;
  padding: 10px;

}
