.home button{
    font-size: 15px;
    font-weight: 500;
    color: #007bff;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
  }
  .back button{
    font-size: 15px;
    
    font-weight: 500;
    color: #07366e;
    padding: 7px 30px;
    outline: none;
    border: none;
    position:fixed;
    bottom:2%;
    right: 20%;
    border-radius: 5px;
    background: white;

    cursor: pointer;
  }
  

.container {
    background-image: url("..//institute.jpg");
  
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    display: ;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .cont {
    background-image: url("..//ec.jpg");
  
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    display: ;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(41, 9, 90);
    font-size: 30px;
    z-index: 1;
  }
  h2{font-family: 'Pacifico', cursive;
    color: rgb(18, 18, 18);
    font-size: 20px;
    z-index: 1;
  }
  
 
  body{
    background-color: rgb(227, 244, 244);
  }
  
